<?xml version="1.0"?>
<!--
/**
* Profit Peak
*
* @category  Profit Peak
* @package   ProfitPeak_Tracking
* @author    Profit Peak Team <admin@profitpeak.io>
* @copyright Copyright Profit Peak (https://profitpeak.io/)
*/
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ProfitPeak\Tracking\Api\OrderSyncInterface" type="ProfitPeak\Tracking\Model\Api\Order"/>
    <preference for="ProfitPeak\Tracking\Api\ProductSyncInterface" type="ProfitPeak\Tracking\Model\Api\Product"/>
    <preference for="ProfitPeak\Tracking\Api\StoreInterface" type="ProfitPeak\Tracking\Model\Api\Store"/>
    <preference for="ProfitPeak\Tracking\Api\ErrorLogInterface" type="ProfitPeak\Tracking\Model\Api\ErrorLog"/>

    <type name="ProfitPeak\Tracking\Model\Api\Order">
        <plugin name="license_auth_plugin_order" type="ProfitPeak\Tracking\Plugin\LicenseAuth" />
    </type>
    <type name="ProfitPeak\Tracking\Model\Api\Product">
        <plugin name="license_auth_plugin_product" type="ProfitPeak\Tracking\Plugin\LicenseAuth" />
    </type>
    <type name="ProfitPeak\Tracking\Model\Api\Store">
        <plugin name="license_auth_plugin_store" type="ProfitPeak\Tracking\Plugin\LicenseAuth" />
    </type>

    <type name="Magento\Catalog\Api\Data\ProductInterface">
        <plugin sortOrder="1" name="ProfitPeak_Tracking::LoadProductExtensionsAttributes" type="\ProfitPeak\Tracking\Plugin\LoadProductExtensionsAttributes"/>
    </type>

    <type name="Magento\Sales\Api\Data\CreditmemoItemInterface">
        <plugin sortOrder="1" name="ProfitPeak_Tracking::LoadCreditmemoItemExtensionsAttributes" type="\ProfitPeak\Tracking\Plugin\LoadCreditmemoItemExtensionsAttributes"/>
    </type>

    <type name="ProfitPeak\Tracking\Logger\ProfitPeakLogger">
        <arguments>
            <argument name="name" xsi:type="string">profitpeak_logger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="stream" xsi:type="object">ProfitPeak\Tracking\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
